<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Include dropzone script and css -->
  <script src="/static/js/dropzone.js"></script>
  <link href="../static/css/dropzone.css" rel="stylesheet">
  

  
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>PDF Converter - Home</title>

  <!-- Bootstrap -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Include sitecss file -->
  <link href="../static/css/sitecss.css" rel="stylesheet">

  
</head>
<body>
  <div class="container">

    <!-- Jumbotron -->
    <div class="jumbotron">
      <h1>PDF Converter</h1> 
      <p>Quickly and easily extract text and dates.</p> 
    </div>

    <!--Wells -->
	<div class="jumbotron">
		<form action="/uploads"
		  class="dropzone"
		  id="file_select"</form>
	</div>
	<h3 class="text-left">Previous Files</h3>
	<div class="jumbotron"></div>
	<!-- BUTTON -->
    <div class="text-center" > 
	  <button type="button" class="btn btn-primary">Begin Conversion</button>
		<div>
			
		</div>
      <p> </p>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
