<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Upload</title>

  <!-- Bootstrap -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Include sitecss file -->
  <link href="../static/css/sitecss.css" rel="stylesheet">
</div>
</div>

</head>
<style>
  #myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #ddd;
  }

  #myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: #4CAF50;
  }
</style>
<body>
  <div class="container">

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-- Jumbotron -->
  <div class="text-center">
    <div class="jumbotron">
      <h1>Uploading and processing file...</h1> 
      <div id="myProgress">
        <div id="myBar"></div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function move() {
      var elem = document.getElementById("myBar");
      var width = 1;
      var id = setInterval(frame, 10);
      function frame() {
        if (width >= 100) {
          clearInterval(id);
        }
        else {
          width = width + 0.1;
          elem.style.width = width + '%';
        }
      }
    }
    window.onload = move();
  </script>

</body>
</html>
